
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: <ton_image_flask>:latest
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: DB_HOST
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: DB_NAME
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: DB_PASSWORD

---
apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  type: NodePort  # pour accès depuis l’extérieur
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 5000         # port interne
      targetPort: 5000   # port du container Flask
      nodePort: 30080    # port externe pour accéder à l'application
